server:
  port: 9999

signing:
  key: "345345fsdgsf5345"

logging:
  level:
    com.mo: DEBUG
    com.netflix: WARN
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    # org.hibernate.type: TRACE
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

env:
  db:
    local:
      host: localhost
      port: 3306
      schema: GUARD
      username: root
      password: 1234
    dev:
      host: dev.avocadostudio.xyz
      port: 3306
      schema: GUARD
      username: root
      password: root
  eureka:
    local:
      host: localhost
      port: 8761
    dev:
      host: dev.avocadostudio.xyz
      port: 8761

---

# ================ DEFAULT ================

spring:
  profiles: default
  application:
    name: guard
  # === [H2] ===
  #  datasource:
  #    platform: h2
  #    url: jdbc:h2:mem:testdb
  #    username: sa
  #    password:
  #    driver-class-name: org.h2.Driver
  #  jpa:
  #    database-platform: H2
  #    hibernate:
  #      ddl-auto: create-drop
  #    properties:
  #      hibernate:
  #        type: trace
  #        show_sql: true
  #        format_sql: true
  #        use_sql_comments: true
  # === [MySQL] ===
  datasource:
    url: jdbc:mysql://${env.db.local.host}:${env.db.local.port}/${env.db.local.schema}?verifyServerCertificate=false&useSSL=true&serverTimezone=UTC
    username: ${env.db.local.username}
    password: ${env.db.local.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      # only - local
      # ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        type: trace
        show_sql: true
        format_sql: true
        use_sql_comments: true
  main:
    allow-bean-definition-overriding: true

#security:
#  oauth2:
#    resource:
#      user-info-uri: http://${env.host.local}:8090/user

eureka:
  instance:
    hostname: ${env.eureka.local.host}
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${env.eureka.local.port}/eureka/

---

# ================ DEV ================

spring:
  profiles: dev
  application:
    name: guard
  datasource:
    url: jdbc:mysql://${env.db.dev.host}:${env.db.dev.port}/${env.db.dev.schema}?verifyServerCertificate=false&useSSL=true&serverTimezone=UTC
    username: ${env.db.dev.username}
    password: ${env.db.dev.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  main:
    allow-bean-definition-overriding: true

#security:
#  oauth2:
#    resource:
#      user-info-uri: http://${env.host.dev}:8090/user

eureka:
  instance:
    hostname: ${env.eureka.dev.host}
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${env.eureka.dev.port}/eureka/